@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
:root{
    --main-color: #02705E;
    --secondary-color: #00909E;
    --main-bg-color: #BBEAD8;
    --accent-color: #BBEAD8;
}
     
body {
    background: url('./assets/images/bg1.png'),url('./assets/images/bg-2.png') no-repeat;
    font-family: 'Mukta', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 43px;

    color: #000000;

}

.logo{
    position: relatiev;
    width: 140px;
    height: 45px;
    left: 56px;
    top: 32px;
    font-family: 'Courgette';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
  }
  