<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

	<title>rE-Learn</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/site/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/site/vendor/business-frontpage.css" rel="stylesheetf">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/favicon.ico" />

</head>

<body>

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{{url_for('index')}}">rE-Learn</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{url_for('index')}}">Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('contact')}}">Contact</a>
                <span class="sr-only">(current)</span>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('myprogress')}}">My Progress</a>
                </li>
          
                <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>
            </ul>
          </div>
        </div>
      </nav>
  
  <!-- Page Content -->
  <div class="container pt-5 ">

    <div class="row">

     <div class="aboutus-section">
	         <div class="container">
	             <div class="row" style="margin: 30px">
	                 <div class="col-md-3 col-sm-6 col-xs-12">
	                     <div class="aboutus">
	                         <h2 class="aboutus-title">About Us</h2>
	                         <p class="aboutus-text">This web application was first created by the students of K.J. Somaiya College of Engineering as part of a final year project under the guidance of faculty of IT Department in the academic year 2021-2022.</p>
	                         <p class="aboutus-text">We at rE-Learn promote and empower regional language learning for all our users and stand by the ideaology that Language is a vital part of human connection and our prime goal is to we bridge the gap between
                            traditional and self-learning methods using an AI-enabled language learning platform.</p>
	                    
	                     </div>
	                 </div>
	                 <div class="col-md-3 col-sm-6 col-xs-12">
	                     <div class="aboutus-banner">
	                         <img src="../static/site/img/aboutus.jpg" alt="">
	                     </div>
	                 </div>
	                 <div class="col-md-5 col-sm-6 col-xs-12 pl--4 pt-3" style="margin-left: 45px">
	                     <div class="feature">
	                         <div class="feature-box">
	                             <div class="clearfix">
	                                 <div class="iconset">
	                                     <span class="glyphicon glyphicon-cog icon"></span>
	                                 </div>
	                                 <div class="feature-content">
	                                     <h4>Personalized education</h4>
	                                     <p>Allows to learn everyone at their own pace.</p>
	                                 </div>
	                             </div>
	                         </div>
	                         <div class="feature-box">
	                             <div class="clearfix">
	                                 <div class="iconset">
	                                     <span class="glyphicon glyphicon-cog icon"></span>
	                                 </div>
	                                 <div class="feature-content">
	                                     <h4>Making learning fun</h4>
	                                     <p>Motivates users with scores and dashboards.</p>
	                                 </div>
	                             </div>
	                         </div>
	                         <div class="feature-box">
	                             <div class="clearfix">
	                                 <div class="iconset">
	                                     <span class="glyphicon glyphicon-cog icon"></span>
	                                 </div>
	                                 <div class="feature-content">
	                                     <h4>Real-life communication</h4>
	                                     <p>Gain Real world experience with meets.</p>
	                                 </div>
	                             </div>
	                         </div>
	                     </div>
	                 </div>
	             </div>
	         </div>
    </div>

    </div>



  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; KJSCE 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  

  <!-- Bootstrap core JavaScript -->
  <script src="../static/site/vendor/jquery/jquery.min.js"></script>
  <script src="../static/site/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
