	<!DOCTYPE html>
	<html lang="en">

	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>rE-Learn</title>

	<!-- Bootstrap core CSS -->
	<link href="../static/site/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../static/site/css/business-frontpage.css" rel="stylesheet">

	<!-- Favicon -->
	<link rel="shortcut icon" href="../static/favicon.ico" />

	</head>

	<body>

	    <!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
			  <a class="navbar-brand" href="{{url_for('index')}}">rE-Learn</a>
			  <button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarResponsive"
				aria-controls="navbarResponsive"
				aria-expanded="false"
				aria-label="Toggle navigation"
			  >
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
				  <li class="nav-item active">
					<a class="nav-link" href="{{url_for('index')}}">Home </a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('about')}}">About</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('contact')}}">Contact</a>
					<span class="sr-only">(current)</span>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('myprogress')}}">My Progress</a>
				  </li>
	  
				  <li class="nav-item">
					<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
				  </li>
				</ul>
			  </div>
			</div>
		  </nav>
	  
	<!-- home section starts  -->
	<section class="home" id="home">
		<div class="content" style="padding-left: 2.5rem;">
			<h3>rE-Learn: Regional Language Learning</h3>
			<p>Welcome to the one-stop solution for learning Indian regional languages without any hassle! We have created this platform to cater to each and every need of yours and are constantly working to make this experience as amazing as it gets.</p>
			<a href="{{url_for('c_language')}}" class="btn" style="padding-left: 2.3rem; margin-left: 2.5rem;">Start Now</a>
		</div>

		<div class="image">
			<img src="../static/site/img/bg2.png" alt="">
		</div>

	</section>

		</div>


			</div>

		</div>


	</div>
	</header> -->

	<!-- Page Content -->
	<div class="container">

	<div class="row">
		<div class="col-md-12 mb-5">
		<h1 align="center">Features</h1>
		<!-- <a class=".btn-info" href="">See All </a>
		<hr> -->
		</div>

	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-md-4 mb-5">
		<div class="card h-100">
			<img class="card-img-top" src="../static/site/img/handwritten.jpg" alt="" width="500" height="300">
			<div class="card-body">
			<h4 class="card-title">Handwritten Character Recognition</h4>
			<p class="card-text">To perfect your writing skills we have incorporated this feature. Do tell us whether you like it in our feedback section.</p>
			</div>
			<!-- <div class="card-footer">
			<a href="#" class="btn btn-primary">Find Out More!</a>
			</div> -->
		</div>
		</div>
		<div class="col-md-4 mb-5">
		<div class="card h-100">
			<img class="card-img-top" src="../static/site/img/dashboard.jpg" alt="" width="500" height="300">
			<div class="card-body">
			<h4 class="card-title">Personalize Dashboards</h4>
			<p class="card-text">View your progress here. Oh! and don’t forget to complete your daily goals.</p>
			</div>
			<!-- <div class="card-footer">
			<a href="#" class="btn btn-primary">Find Out More!</a>
			</div> -->
		</div>
		</div>
		<div class="col-md-4 mb-5">
		<div class="card h-100">
			<img class="card-img-top" src="../static/site/img/voice.jpg" alt="" width="500" height="300">
			<div class="card-body">
			<h4 class="card-title">Voice recognition</h4>
			<p class="card-text">Easily acquire and improve your pronunciation skills with the help of this feature.</p>
			</div>
			<!-- <div class="card-footer">
			<a href="#" class="btn btn-primary">Find Out More!</a>
			</div> -->
		</div>
		</div>
	</div>
	<!-- /.row -->

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; KJSCE 2021</p>
	</div>
	<!-- /.container -->
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="../static/site/vendor/jquery/jquery.min.js"></script>
	<script src="../static/site/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	</body>

	</html>
